body {
  font-family: HelveticaNeue-light, sans-serif;
  font-size: 14px;
  line-height: 1.625;
  margin: 0;
}

svg {
  display: block;
  margin: 0 auto;
}

footer {
  background-color: #efefef;
  padding: 45px 25px;
}

label {
  display: block;
  padding: 5px 0;
}

label input {
  display: block;
  margin: 0;
}

#grid {
  flex-grow: 1;
}

#settings {
  background: #efefef;
  box-sizing: border-box;
  width: 300px;
}

#settings h2 {
  font-weight: 400;
  margin: 0;
  padding: 50px 25px 25px 25px;
}

.settings-section {
  padding: 25px;
}

.settings-section:not(:last-child) {
  border-bottom: 1px solid #afafaf;
}

.container {
  display: flex;

  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.meta {
  color: #4a4a4a;
  font-size: 11px;
}
